$mainPurple: #a852aa;
$mainGreen: #70c12c;
$mainYellow: #ffce00;
$mainWhite: #f3f3f3;
$mainBlack: #030303;

.navbarStyling {
  background-color: $mainPurple !important;
  color: $mainPurple !important;
  height: 30px;
}
